<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/icon.png" type="image/gif" sizes="16x16">
    <title>Spring Revolution Myanmar - Generation Z</title>
    <meta name="keywords" itemprop="keywords" content="Spring Revolution Myanmar">
    <meta name="description" itemprop="description" content="နွေဦးတော်လှန်ရေးတွင် ကျဆုံးသွားသော သူရဲကောင်း အာဇာနည်များ">
    <link rel="stylesheet" href="/assets/css/style.css?2021041202">
    <link rel="stylesheet" href="/assets/css/dashboard.css?2021041001">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-B8NXDSW5EN');
      </script>
</head>
<body>

    <div id="app">

        <!-- HEADER NAV START  -->
        <nav class="navbar navbar-expand-sm navbar-dark d-md-block p-0">
            <div id="nav" class="container-fluid">
                <!-- Logo  -->
                <a :href=urlOne class="navbar-brand">
                    <img src="/assets/img/menu-1.png"  alt="" style="height: 75px;">
                    <strong class="mm">{{brandTitle}}</strong>
                    <a href="https://www.facebook.com/nyeinchandonato/photos/a.170336451549740/191257056124346/" class="donato" target="_blank">
                        <small>Logo Image - Donato</small>
                    </a>
                    
                </a>
                <!-- NAV  -->
                <ul class="navbar-nav d-sm-flex">
                    <!-- HOME  -->
                    <li class="nav-item d-none d-lg-inline-block">
                        <a :href=urlOne class="nav-link active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                            </svg>
                            <strong class="d-none d-md-inline-block">{{navOne}}</strong>
                        </a>
                    </li>
                    <!-- ၁၈နှစ်အောက် ကျဆုံးသူများ -->
                    <li class="nav-item d-none d-lg-inline-block">
                        <a :href=urlTwo class="nav-link active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            <strong class="d-none d-md-inline-block">{{navTwo}}</strong>
                        </a>
                    </li>
                    <!-- ၁၈နှစ်အောက် ကျဆုံးသူများ -->
                    <li class="nav-item d-none d-lg-inline-block">
                        <a :href=urlThree class="nav-link active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                                <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                            <strong class="d-none d-md-inline-block">{{navThree}}</strong>
                        </a>
                    </li>
                    <li class="nav-item dropdown rounded">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{navFour}}</a> 
                        <ul class="dropdown-menu py-2 px-3">
                            <li v-on:click="changeLang('mm')" :class= mmLanClass>
                                <img src="/assets/img/myanmar.png"/>
                                {{mm}}
                            </li>
                            <li v-on:click="changeLang('en')" :class= enLanClass>
                                <img src="/assets/img/english.png">
                                {{en}}
                            </li>
                            <li v-on:click="changeLang('jp')" :class= enLanClass>
                                <img src="/assets/img/japan.png">
                                {{jp}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- HEADER NAV END  -->


        <section id="martyr" class="container my-5 py-5 px-lg-5 dashboard">
            <div class="text-center mt-3">
                <h1 class="line mb-3 mm" v-html="bodyTitle"></h1>
            </div>
            <div class="mx-3 px-lg-5">
                <div class="text-center mb-2">
                    <small class="data-source my-txt-first" v-html="dataSource"></small>
                </div>
                <div class="row flex-lg-row">
                    
                    <div class="col-6 col-xl-3">
                        <div class="card p-2 p-md-3 mb-3 alert alert-danger">
                            <div class="card-body p-0">
                                <span class="db-text">
                                    <i class="fas fa-chart-line"></i>
                                    {{totalDaysLabel}}
                                </span>
                                <h3 class="card-title h2 m-0 my-2">{{totalDays}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="card p-2 p-md-3 mb-3 alert alert-danger">
                            <div class="card-body p-0">
                                <span class="db-text">
                                    <i class="fas fa-chart-line"></i>
                                    {{totalDeathLabel}}
                                </span>
                                <h3 class="card-title h2 m-0 my-2">{{total}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="card p-2 p-md-3 mb-3 alert alert-danger">
                            <div class="card-body p-0">
                                <span class="db-text">
                                    <i class="fas fa-chart-line"></i>
                                    {{under18DeathLabel}}
                                </span>
                                <h3 class="card-title h2 m-0 my-2">{{underEighteen}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-3">
                        <div class="card p-2 p-md-3 mb-3 alert alert-danger">
                            <div class="card-body p-0">
                                <span class="db-text">
                                    <i class="fas fa-chart-line"></i>
                                    {{youngestLabel}}
                                </span>
                                <h3 class="card-title year-old h2 m-0 my-2">{{youngest}} <span>{{yearOldLabel}}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row px-lg-5 g-1 pb-3">
                <div class="col-lg-6 p-3">
                    <h2 class="h6 mb-2">နေ့ရက်အလိုက် ကျဆုံးမှုအရေအတွက်</h2>
                    <div class="card p-3 graph border-2">
                        <date-graph v-for="date in dateData" v-bind:todo="date"></date-graph>
                    </div>
                </div>
                <div class="city-graph col-lg-6 p-3">
                    <h2 class="h6 mb-2">မြို့နယ်အလိုက် ကျဆုံးမှုအရေအတွက်<br class="d-sm-none"> <small>စုစုပေါင်း ({{totalCity}})မြို့</small></h2>
                    <div class="card p-3 graph border-2">
                        <city-graph v-for="city in cityData" v-bind:todo="city"></city-graph>
                    </div>
                </div>
            </div> -->
            <div class="row px-xl-5 mx-3 mb-4">
                <div class="col-md-7">
                    <div id="map"></div>
                </div>
                <div class="graph-div col-md-5 p-0">
                    <h2 class="h6 mb-2">{{cityGraphLabel}}<br class="d-sm-none"> <small>{{totalLabel}} - {{totalCity}}</small></h2>
                    <div class="card p-3 graph border-2">
                        <city-graph v-for="city in cityData" v-bind:todo="city"></city-graph>
                    </div>
                    <h2 class="h6 mt-3 mb-2">{{dailyGraphLabel}}</h2>
                    <div class="card p-3 graph border-2">
                        <date-graph v-for="date in dateData" v-bind:todo="date"></date-graph>
                    </div>
                </div>
            </div>
            
        
        </section>


        <div :class=bttCLass>
            <span>
                <svg id ="gotoTop" onclick="gotoTop()" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                </svg>
            </span>
        </div>
        <!-- FOOTER NAV  START -->
        <div class="footer d-lg-none border-top row m-0 pt-2 pb-0">
            <!-- HOME -->
            <div class="col-3 text-center">
                <a :href=urlOne class="text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg><br>
                    <small class="text-xsmall text-dark">{{navOne}}</small>
                </a>
            </div>
            <!-- ၁၈နှစ်အောက် ကျဆုံးသူများ -->
            <div class="col-6 p-0 text-center">
                    <a :href=urlTwo class="text-decoration-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <br>
                        <small class="text-xsmall text-dark">{{navTwo}}</small>
                    </a>
            </div>
            <!--Dashboard -->
            <div class="col-3 text-center">
                <a :href=urlThree class="text-decoration-none active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                    <br>
                    <small class="text-xsmall text-dark">{{navThree}}</small>
                </a>
            </div>
        </div>
        <!-- FOOTER NAV END -->

    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <script src="/assets/js/variable.js?2021041401"></script>
    <script src="/assets/js/dashboard.js?2021041202"></script>
    <script src="/assets/js/mapdata.js?2021041101"></script>
    <script src="/assets/js/countrymap.js?2021041101"></script>
    
</body>
</html>
