.graph {
  height: 300px;
  overflow: scroll;
}
.graph div h6{
  font-size: 0.7em;
}

.db-text{
  color: var(--my-bg-first);

}


.dashboard small{
  float: unset !important;
  text-align: right;
}

.dashboard div:nth-child(2){
  clear: right;
}
tspan, #map_zoom{
  display: none;
}
#map{
  width: 100% !important;
  text-align: center;
}
#map_inner svg{
  /* width: 600px !important; */
  
}

@media only screen and (max-width: 576px) {

    .db-text{
      font-size: 0.8em;
    }
    .dashboard small {
      text-align: right;
    }
}