.data-source{
  font-size: 0.7em;
}
.graph-div h2 small {
  color: var(--my-bg-first);
  font-size: 0.7em;
  float: right;
}
.graph {
  height: 300px;
  overflow: scroll;
}
.graph small{
  color: var(--my-bg-first);
  font-size: 0.7em !important;
}
.graph div h6{
  font-size: 0.7em;
}

.db-text{
  color: var(--my-bg-first);

}



.dashboard h6 small{
  float: right !important;
}
.dashboard div:nth-child(2){
  clear: right;
}
tspan, #map_zoom{
  display: none;
}
#map{
  width: 100% !important;
  text-align: center;

}
#map_inner svg{
  /* width: 600px !important; */
  /* pointer-events: none; */
}

@media only screen and (max-width: 576px) {

    .db-text{
      font-size: 0.8em;
    }
    .dashboard small{
      float: unset !important;
      text-align: right;
    }
    #map{
      pointer-events: none;
    }
}