:root {
    --my-bg-first: #a11f21;
    --my-bg-first-gd: #c73f41;
  }

  @import url(//fonts.googleapis.com/earlyaccess/notosansmyanmar.css);

  body{
      height: 100vh;
      
  }

  .mm {
    font-family: "Noto Sans Myanmar", sans-serif !important;
  }

  a{
    text-decoration: none !important;
    color: black !important;
  }

  .my-txt-first{
    color: var(--my-bg-first);
  }
  .my-bg-first{
    background: linear-gradient(90deg, var(--my-bg-first) 0%, var(--my-bg-first-gd) 100%);
  }


  nav{
    background: linear-gradient(90deg, var(--my-bg-first) 0%, var(--my-bg-first-gd) 100%);
  }

  .main-content{
      margin-top: 100px !important
      
  }

  .line{
      color: var(--my-bg-first);
      line-height: 1.5em;
      height: 2.5em;
  }

  .donato{
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 0.5em;
    background: gray;
    padding: 2px 7px;
  }
  /* .yesterday-death{
    margin: 0px auto !important;
    width: 50%;
  } */
  .number-of-death{
    width: 50%;
    margin: 0px auto !important;
  }
  .number-of-death .total-death span{
    font-size: 1.5em;
  }
  .number-of-death small {
    font-size: 0.6em;
    color: var(--my-bg-first);
  }

  .city-list .more {
    display: inline-block;
    width: 100%;
    text-align: right;
    color: var(--my-bg-first);
  }
  /* .today-death strong{
    font-size: 1.5em;
    vertical-align: middle;
  } */
  /* .yesterday-death{
    width: 40%;
  } */
  .martyr{
    width: 100%;
    border: 0px 1px 1px 1px solid gray;
  }

  .martyrList1 {

    overflow-x: auto; 
    overflow-y: auto; 
    width: 100%;

  }

  .martyrList {

    overflow-x: auto; 
    overflow-y: auto; 
    height: 60vh;
    width: 100%;

  }
  .martyrList1 tr{
width: 100%;
    
  }
  .martyrList tr:first-child{
    background: gray;
    position: fixed;
    text-align: center;
    width: 100%;

  }
 
  .martyrList tr td:first-child{
    text-align: center;
  }
  .martyrList1 tr td, .martyrList tr td {
    padding: 8px;
    vertical-align: middle;
    
  }
  .martyrList1 tr:first-child td{
    font-weight: bold;
    background: gray;
    margin: 0px 5px;
    /* border-right: 1px solid white; */
    text-align: center;
  }
   .martyrList tr td:first-child{
    font-size: 0.7em;
  }
  /*
  .martyrList tr:first-child td:last-child{
    border: none;
  } */

  .martyrList tr:nth-child(even){
    background: lightgrey;
  }
  #martyr strong{
    color: var(--my-bg-first);
  }
  /* #martyr small{
    float: right;
    font-size: 0.6em;
    color: var(--my-bg-first);
    
  } */
  #martyr small a {
    text-decoration: underline !important;
    font-weight: bold !important;
    color: blue !important;
    
  }

  .label{
    color: var(--my-bg-first-gd);
    font-size: 0.8em;
  }
  .m-name{
    color: var(--my-bg-first);
    height: 2em;
  }
  .date,.pod,.address {
    font-size: 0.6em;
    display: block;
  }

  .pod,.address{
    height: 3em;
  }

  small{
    color: white;
  }

  .bg-green {
    background: lightgreen !important;
  }
  .bg-yellow {
    background: yellow !important;
  }
  .bg-orange {
    background: orange !important;
  }
  .bg-red {
    background: lightcoral !important;
  }

  .txt-green{
    color: lightgreen !important;
  }
  .txt-yellow{
    color: yellow !important;
  }
  .txt-orange{
    color: orange !important;
  }
  .txt-red{
    color: lightcoral !important;
  }

  .sq-block {
    width: 10px;
    height: 10px;
  }

  .level {
    text-align: right;
  }

  .dark {
    background: black;
    color: white;
  }

  .mode {
    position: absolute;
  }

  .sp-banner {
    position: relative;
  }
  .sp-banner img {
    width: 75%;
  }
  .nav-item a img{
    width: 40px;
  }
  .nav-item a strong, .nav-item a svg, .navbar-brand strong{
    color: lightgrey;
  }
  
  .navbar-nav > li:last-child{
    display: inline-block;
    border: 1px solid lightgrey;
    padding: 0px 5px;

  }
  .navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .clear-float{
    float: unset !important;
  }

  .dropdown-menu{
    min-width: unset !important;
  }
  .dropdown-menu li{
    cursor: pointer;
    font-size: 0.8em;
  }
  .dropdown-menu li:hover, .lanActive {
    background: lightgray;
  }
  .navbar-nav .nav-item:last-child a{
    width: 100px;
    text-align: center;
  }
  .navbar-nav .dropdown-menu {
    position: absolute !important;
    width: 135px;
    left: -22px;
  }
  .navbar-nav .dropdown-menu li img{
    width: 30px;
    height: 30px;
  }
  .city-name{
    font-size: 1.2em;
  }
  .city-name small {
    font-size: 0.6em !important;
    float: right;
  }

  .detail-info .body-title .line{
    line-height: unset !important;
    height: unset !important;
  }

.back-to-top {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0px auto;
  opacity: 0.5;
}
.back-to-top span{
  display: inline-block;
  width: 100%;
  text-align: right;
  color: var(--my-bg-first-gd);
}
.back-to-top span svg {
  cursor: pointer;
}

  @media only screen and (max-width: 992px) {
    .navbar-brand strong{
      font-size: 0.8em !important;
    }
    .sp-banner img {
      width: 100%;
    }
    #underEighteen .line{
      font-size: 1.4em;;
    }
    .today-death{
      width: 100% !important;
    }
    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 70px;
      background: lightgray;
    }
    .footer small{
      font-size: 0.65em;
    }
    .footer .active, .footer .active small {
      color: var(--my-bg-first) !important;
    }
    .footer div {
      height: fit-content;
    }
    .footer a img {
      width: 39px;
    }
    .line{
      font-size: 1.15em;
    }
    .dashboard .line {
      font-size: 1.3em;
    }
    .city-graph h2 small{
      display: inline-block;
      margin-top: 10px;
      float: none !important;
    }
    .number-of-death{
      width: 100% !important;
    }
    .navbar-nav .dropdown-menu {
      width: 151px;
      left: -38px;
    }
    .navbar-nav .dropdown-menu li{
      font-size: 0.8em;
    }

    .back-to-top {

      bottom: 75px;
      
    }
    .year-old span{
      font-size: 0.6em;
    }
    
  }
  @media only screen and (min-width: 768px) {
    .more{
      font-size: 0.6em !important;
    }

    /* .navbar-nav li:last-child{
      text-align: center !important;
    } */
    
  }