:root {
    --my-bg-first: #a11f21;
    --my-bg-first-gd: #c73f41;
  }

  @import url(//fonts.googleapis.com/earlyaccess/notosansmyanmar.css);

  body{
      height: 100vh;
      
  }

  .mm {
    font-family: "Noto Sans Myanmar", sans-serif !important;
  }

  a{
    text-decoration: none !important;
    color: black !important;
  }
  .my-bg-first{
    background: linear-gradient(90deg, var(--my-bg-first) 0%, var(--my-bg-first-gd) 100%);
  }


  nav{
    background: linear-gradient(90deg, var(--my-bg-first) 0%, var(--my-bg-first-gd) 100%);
  }

  .main-content{
      /* background-image: url(../img/scout.png);
      background-repeat: no-repeat;
      height: 200vh; */
      
  }

  .main-content .row{
    /* padding-left: 50%; */
  }

  .main-content .row h1{
      color: var(--my-bg-first);
  }

  .donato{
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 0.5em;
    background: gray;
    padding: 2px 7px;
  }
  .today-death{
    margin: 0px auto !important;
    width: 50%;
  }
  .today-death strong{
    font-size: 1.5em;
    vertical-align: middle;
  }
  .martyr{
    width: 100%;
    border: 0px 1px 1px 1px solid gray;
  }

  .martyrList1 {

    overflow-x: auto; 
    overflow-y: auto; 
    width: 100%;

  }

  .martyrList {

    overflow-x: auto; 
    overflow-y: auto; 
    height: 60vh;
    width: 100%;

  }
  .martyrList1 tr{
width: 100%;
    
  }
  .martyrList tr:first-child{
    background: gray;
    position: fixed;
    text-align: center;
    width: 100%;

  }
 
  .martyrList tr td:first-child{
    text-align: center;
  }
  .martyrList1 tr td, .martyrList tr td {
    padding: 8px;
    vertical-align: middle;
    
  }
  .martyrList1 tr:first-child td{
    font-weight: bold;
    background: gray;
    margin: 0px 5px;
    /* border-right: 1px solid white; */
    text-align: center;
  }
   .martyrList tr td:first-child{
    font-size: 0.7em;
  }
  /*
  .martyrList tr:first-child td:last-child{
    border: none;
  } */

  .martyrList tr:nth-child(even){
    background: lightgrey;
  }
  #martyr strong{
    color: var(--my-bg-first);
  }
  #martyr small{
    float: right;
    font-size: 0.7em;
    color: var(--my-bg-first);
    
  }
  #martyr small a {
    text-decoration: underline !important;
    font-weight: bold !important;
    color: blue !important;
    
  }

  .label{
    color: var(--my-bg-first-gd);
    font-size: 0.8em;
  }
  .m-name{
    color: var(--my-bg-first);
    height: 2em;
  }
  .date,.pod,.address {
    font-size: 0.6em;
    display: block;
  }

  .pod,.address{
    height: 3em;
  }

  small{
    color: white;
  }

  .bg-green {
    background: lightgreen !important;
  }
  .bg-yellow {
    background: yellow !important;
  }
  .bg-orange {
    background: orange !important;
  }
  .bg-red {
    background: lightcoral !important;
  }

  .txt-green{
    color: lightgreen !important;
  }
  .txt-yellow{
    color: yellow !important;
  }
  .txt-orange{
    color: orange !important;
  }
  .txt-red{
    color: lightcoral !important;
  }

  .sq-block {
    width: 10px;
    height: 10px;
  }

  .level {
    text-align: right;
  }

  .dark {
    background: black;
    color: white;
  }

  .mode {
    position: absolute;
  }

  .sp-banner {
    position: relative;
  }
  .sp-banner img {
    width: 75%;
  }



  @media only screen and (max-width: 576px) {
    .sp-banner img {
      width: 100%;
    }
    .today-death{
      width: 100% !important;
    }
  }

  @media only screen and (min-width: 768px) {
    .more{
      font-size: 0.6em !important;
    }
  }